@charset "UTF-8";

@font-face {
    font-family: 'cordel';
    src: url('../fontes/CordelEncarnadoNormal-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'desenho';
    src: url('../fontes/Cordel\ Junina.otf') format('opentype');
}
@font-face {
    font-family: 'caligrafia';
    src: url('../fontes/Magston\ Cordeli.otf') format('opentype');
}
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'cordel', cursive;
    --fonte3: 'desenho';
    --fonte4: 'caligrafia';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: (var(--fonte1))
    min-height: 100vh;
    background-color: bisque;
}

header {
    font-family: var(--fonte2);
    background-color: black;
    color:white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a  {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
 text-decoration: underline;
}
section{
    font-family: var(--fonte4);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 5vw;
    font-weight: normal;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem {

    background-color: rgb(0, 0, 0);
    color: white;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(94, 82, 82, 0.477);
    padding-left: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}