@charset "UTF-8";

@font-face {
    font-family: 'cordel';
    src: url('../fontes/CordelEncarnadoNormal-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'desenho';
    src: url('../fontes/Cordel\ Junina.otf') format('opentype');
}
@font-face {
    font-family: 'caligrafia';
    src: url('../fontes/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf') format('truetype');
}
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'cordel', cursive;
    --fonte3: 'desenho';
    --fonte4: 'caligrafia';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: (var(--fonte1))
    min-height: 100vh;
    background-color: bisque;
}

header {
    font-family: var(--fonte2);
    background-color: black;
    color:white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-size: 4vw;
}

header > h2 {
    font-family: var(--fonte3);
    font-size: 3vw;
}

header > p {
    padding-bottom: 5px;
}

header a, footer a  {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
 text-decoration: underline;
}
section{
    font-family: var(--fonte4);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
   
}

section.normal{
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem {

    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.555);
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(94, 82, 82, 0.685);
    padding: 5px;
    text-shadow: 1px  1px 0px rgba(0, 0, 0, 0.582) ;
}

section#ima01 {
    background-image: url('../imagens/15576082535cd7373dc515b_1557608253_3x2_rt.jpg');
    background-position:  top center;
    background-color: cover;
    background-attachment: fixed;
    background-size: cover;
}

section#ima02 {
    background-image: url('../imagens/y4T9avdxBn5liWJE.JPG');
    background-position:center;
    background-color: cover;
    background-attachment: fixed;
    background-size: cover;
}

section#ima03 {
    background-image: url('../imagens/8401e9120087707.60ab38d57bbbb.png');
    background-position: top center;
    background-color: cover;
    background-attachment: fixed;
    background-size: cover;
}

section#ima04 {
    background-image: url('../imagens/olinda\ 1\ -\ 098.JPG');
    background-position: bottom center;
    background-color: cover;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}